.section.panel-5.content-block2.dark{"data-bg-color" => "#212121", "data-image-src" => "{{ 'blank.gif' | theme_image_url }}"}
  / Service Carousel Start
  .owl-carousel.full-carousel-wrapper.block-content
    / Carousel Title Start
    .carousel-item.carousel-title{"data-image-src" => "{{ 'upload/extra-services-bg-image.jpg' | theme_image_url }}"}
      .carousel-inner.title
        / Carousel Block Title Start
        .carousel-block-title
          %h1 Extra
          %div
        / Carousel Block Title End
      .overlay{"data-bg-color" => "#313131", "data-opacity" => "0.5"}
    / Carousel Title End
    / Item 1 Start
    .carousel-item.dark{"data-image-src" => "{{ 'blank.gif' | theme_image_url }}"}
      .block-thumb-wrap.ripple
        %a{:href => "#"}
          .content-block-thumb.fit-img
            %img{:alt => "thumbnail", :src => "{{ 'upload/block-content2-thumbnail01.jpg' | theme_image_url }}"}/
      .content-block-detail{"data-bg-color" => "#313131"}
        .top-triangle{"data-shape-color" => "#313131"}
        %h3 Lorem ipsum dolor
        .item-list-description Sed condimentum nulla semper arcu sed ac erat sit amet enim euismod faucibus amet nec consectetur ac euismod.
        %a.read-more{:href => "#"} More Details
    / Item 1 End
    / Item 2 Start
    .carousel-item{"data-image-src" => "{{ 'blank.gif' | theme_image_url }}"}
      .block-thumb-wrap.ripple
        %a{:href => "#"}
          .content-block-thumb.fit-img
            %img{:alt => "thumbnail", :src => "{{ 'upload/block-content2-thumbnail02.jpg' | theme_image_url }}"}/
      .content-block-detail{"data-bg-color" => "#fff"}
        .top-triangle{"data-shape-color" => "#fff"}
        %h3 Sed fringilla egestas
        .item-list-description Sed condimentum nulla semper arcu sed ac erat sit amet enim euismod faucibus amet nec consectetur ac euismod.
        %a.read-more{:href => "#"} More Details
    / Item 2 End
    / Item 3 Start
    .carousel-item.dark{"data-image-src" => "{{ 'blank.gif' | theme_image_url }}"}
      .block-thumb-wrap.ripple
        %a{:href => "#"}
          .content-block-thumb.fit-img
            %img{:alt => "thumbnail", :src => "{{ 'upload/block-content2-thumbnail03.jpg' | theme_image_url }}"}/
      .content-block-detail{"data-bg-color" => "#313131"}
        .top-triangle{"data-shape-color" => "#313131"}
        %h3 Vestibulum tincidunt
        .item-list-description Sed condimentum nulla semper arcu sed ac erat sit amet enim euismod faucibus amet nec consectetur ac euismod.
        %a.read-more{:href => "#"} More Details
    / Item 3 End
    / Item 4 Start
    .carousel-item{"data-image-src" => "{{ 'blank.gif' | theme_image_url }}"}
      .block-thumb-wrap.ripple
        %a{:href => "#"}
          .content-block-thumb.fit-img
            %img{:alt => "thumbnail", :src => "{{ 'upload/block-content2-thumbnail04.jpg' | theme_image_url }}"}/
      .content-block-detail{"data-bg-color" => "#fff"}
        .top-triangle{"data-shape-color" => "#fff"}
        %h3 Sed ac condimentum
        .item-list-description Sed condimentum nulla semper arcu sed ac erat sit amet enim euismod faucibus amet nec consectetur ac euismod.
        %a.read-more{:href => "#"} More Details
    / Item 4 End
    / Item 5 Start
    .carousel-item.dark{"data-image-src" => "{{ 'blank.gif' | theme_image_url }}"}
      .block-thumb-wrap.ripple
        %a{:href => "#"}
          .content-block-thumb.fit-img
            %img{:alt => "thumbnail", :src => "{{ 'upload/block-content2-thumbnail05.jpg' | theme_image_url }}"}/
      .content-block-detail{"data-bg-color" => "#313131"}
        .top-triangle{"data-shape-color" => "#313131"}
        %h3 Aenean et tortor
        .item-list-description Sed condimentum nulla semper arcu sed ac erat sit amet enim euismod faucibus amet nec consectetur ac euismod.
        %a.read-more{:href => "#"} More Details
    / Item 5 End
  / Service Carousel End
  / Custom Navigation
  .carousel-nav
    .btn.prev
      %i.fa.fa-chevron-left
    .btn.next
      %i.fa.fa-chevron-right
  / End
/ Panel-5 Content Block Style 2 End