---
title: Default layout
is_layout: false
---
!!!
%html
  %head
    %meta{:charset => "utf-8"}
    %meta{:content => "width=device-width, initial-scale=1, maximum-scale=1", :name => "viewport"}/
    %title Viktoria Niko
    {{ 'css/bootstrap.css' | stylesheet_tag: 'screen, projection' }}
    {{ 'css/style.css' | stylesheet_tag: 'screen, projection' }}
    {{ 'font-awesome.min.css' | stylesheet_tag: 'screen, projection' }}
    {{ 'bower_components/owl.carousel/assets/owl.carousel.css' | stylesheet_tag: 'screen, projection' }}
    {{ 'bower_components/owl.carousel/assets/owl.theme.default.css' | stylesheet_tag: 'screen, projection' }}
    {{ 'bower_components/FlexSlider/flexslider.css' | stylesheet_tag: 'screen, projection' }}

    {{ 'bower_components/megafolio/css/settings.css' | stylesheet_tag: 'screen, projection' }}
    {{ 'bower_components/fancybox/jquery.fancybox.css' | stylesheet_tag: 'screen, projection' }}
    {{ 'css/jquery.fullPage.css' | stylesheet_tag: 'screen, projection' }}
    {{ 'bower_components/tooltipster/css/tooltipster.css' | stylesheet_tag: 'screen, projection' }}

    {{ 'bower_components/tooltipster/css/themes/tooltipster-shadow.css' | stylesheet_tag: 'screen, projection' }}
    {{ 'bower_components/tabulous/tabulous.css' | stylesheet_tag: 'screen, projection' }}
    {{ 'https://fonts.googleapis.com/css?family=Raleway:400,900,800,700,600,500,300%7COpen+Sans:400,800,700,600,300' | stylesheet_tag: 'screen, projection' }}
    {{ 'css/color.css' | stylesheet_tag: 'screen, projection' }}

    {{ 'custom.css' | stylesheet_tag: 'screen, projection' }}
  %body
    / Page Loader
    .loader-wrapper
      .loader Wait for me...
    / End
    / Main Menu Wrapper Start
    {% include 'main-menu' %}
    #fullpage
      {% include 'top-panel' %}
      / Panel-2 Home About Us Panel Start
      {% include 'about-us' %}
      / Panel-3 Portfolio Panel Style 1 Start
      {% include 'portfolio' %}
      / Panel-4 Content Block Style 3 Start
      {% include 'special-offer' %}
      / Panel-6 Home Blog Panel Start
      {% include 'blog' %}
      / Panel-7 Home Contact Us Panel Start
      {% include 'contact-us' %}
      / Panel-8 Footer Panel Start
      {% include 'footer' %}
    / Fullpage Wrapper End
    / jQuery files
    {{ 'js/vendor/jquery-1.11.1.min' | javascript_tag }}
    {{ 'js/vendor/jquery.easings.min' | javascript_tag }}
    {{ 'js/vendor/jquery.slimscroll.min' | javascript_tag }}
    {{ 'js/jquery.viewport' | javascript_tag }}
    {{ 'js/retina' | javascript_tag }}
    {{ "js/jquery.sidebar.min.js" | javascript_tag }}
    {{ "bower_components/owl.carousel/owl.carousel.min.js" | javascript_tag }}
    {{ "bower_components/FlexSlider/jquery.flexslider.js" | javascript_tag }}
    {{ "bower_components/megafolio/js/jquery.themepunch.tools.min.js" | javascript_tag }}
    {{ "bower_components/megafolio/js/jquery.themepunch.megafoliopro.js" | javascript_tag }}
    {{ "bower_components/fancybox/jquery.fancybox.pack.js?v=2.1.5" | javascript_tag }}
    {{ "js/jquery.fullPage.min.js" | javascript_tag }}
    {{ "js/midnight.jquery.min.js" | javascript_tag }}
    {{ "bower_components/tooltipster/js/jquery.tooltipster.min.js" | javascript_tag }}
    {{ "bower_components/tabulous/tabulous.js" | javascript_tag }}
    {{ "js/custom.js" | javascript_tag }}